<div id = "header">
	<a href = "/"><h1 id = "website_name">DrewsList</h1></a>
	<h5 id = "slogan">Your access to anything under the sun</h5>
	<a href="/create"><div id = "create_button"><p>Submit a post</p></div></a>
</div>

<form id = "main_form" action="/create" method="post">
	<h3>What category would you like to post in?</h3>

	<select name = "category">
		<option value = "home" >  Home </option>
		<option value = "sports" >  Sports </option>
		<option value = "computers" >  Computers </option>
		<option value = "sales" >  Sales </option>
		<option value = "trades" >  Trades </option>
	</select>

	<h3>Name of post:</h3>
  	<input type="text" name="title">

	<h3>Your name:</h3>
  	<input type="text" name="author">

	<h3>Enter your post:</h3>
  	<textarea name = "body" rows="10" cols="60">

	</textarea>

  	<input type="submit" value="Submit" >
</form>



<!-- title
author
body -->