<div id = "header">
	<a href = "/"><h1 id = "website_name">DrewsList</h1></a>
	<h5 id = "slogan">Your access to anything under the sun</h5>
	<a href="/create"><div id = "create_button"><p>Submit a post</p></div></a>
</div>
<ul id = "category_list">
	<% @categories.each{|cat| %>
	<li> 
		<a href= "/category/<%= cat.id.to_s %>" ><h3><%= cat.name.capitalize %></h3></a>
	</li>
	<% } %>
</ul>
