<div id = "header">
	<a href = "/"><h1 id = "website_name">DrewsList</h1></a>
	<h5 id = "slogan">Your access to anything under the sun</h5>
	<a href="/create"><div id = "create_button"><p>Submit a post</p></div></a>
</div>
<ul id = "category_list">
	<li > 
		<a href="/home"><h3>Home</h3></a>
		<p>For all your home and garden needs</p> 
	</li>
	<li>
		<a href="/sports"><h3>Sports</h3></a>
		<p>Get your head in the game and get some gear</p>
	</li>
	<li>
		<a href="/computers"><h3>Computers</h3></a>
		<p>From dinosaurs to quad core it's here</p>
	</li>
	<li>
		<a href="/sales"><h3>Sales</h3></a>
		<p>Buy anything from a private plane to a XBox username </p>
	</li>
	<li>
		<a href="/trades"><h3>Trades</h3></a>
		<p>I've got to have something that you want</p>
	</li>
</ul>
