<div id = "header">
	<a href = "/"><h1 id = "website_name">DrewsList</h1></a>
	<h5 id = "slogan">Your access to anything under the sun</h5>
	<a href="/create"><div id = "create_button"><p>Submit a post</p></div></a>
</div>
<div id = "wrapper">
<div id = "main">
<h1><%= @post.title %> </h1>
<h3><%= "By " + @post.author %> </h3>
<p><%= @post.body %></p>

<a href="/edit/<%= @post.id %>"  >
  <div id = "create_button">
    Submit a post
  </div>
</a>

</div>
</div>